.footer {
    background-color: black;
    color: azure;
    padding: 0.25em;
    text-align: center;
}

.footer_button {
    font-size: 0.8em;
    padding: 1em 1em;
    color: azure;
    background-color: black;
}

.footer_button:hover {
    color: rgb(196, 116, 19);
}

.footer_div {
    display: flex;
}


.social_list {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: rgb(196, 116, 19);
}

.social_list SVG {
    font-size: 3em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: rgb(196, 116, 19);
}
